﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>BLOCKS - Bootstrap Dashboard Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/css/bootstrap.min.css" />

    <link href="/Areas/Admin/css/main.css" rel="stylesheet">
    <link href="/Areas/Admin/css/font-style.css" rel="stylesheet">
    <link href="/Areas/Admin/css/register.css" rel="stylesheet">

    <script type="text/javascript" src="/Areas/Admin/js/jquery.js"></script>
    <script type="text/javascript" src="/Areas/Admin/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- NAVIGATION MENU -->

    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Ana Sayfa", "index", "AdminHome")</li>
                    <li>@Html.ActionLink("Giriş", "login", "AdminHome")</li>
                    <li>@Html.ActionLink("Tablolar", "tables", "AdminHome")</li>
                    <li>@Html.ActionLink("Kullanıcı", "user", "AdminHome")</li>
                   
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6">

                <div class="register-info-wraper">
                    <div id="register-info">
                        <div class="cont2">
                            <div class="thumbnail">
                                <img src="/Areas/Admin/img/face.jpg" alt="Marcel Newman" class="img-circle">
                            </div><!-- /thumbnail -->
                            <h2>Marcel Newman</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="cont3">
                                    <p><ok>Username:</ok> BASICOH</p>
                                    <p><ok>Mail:</ok> hola@basicoh.com</p>
                                    <p><ok>Location:</ok> Madrid, Spain</p>
                                    <p><ok>Address:</ok> Blahblah Ave. 879</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cont3">
                                    <p><ok>Registered:</ok> April 9, 2010</p>
                                    <p><ok>Last Login:</ok> January 29, 2013</p>
                                    <p><ok>Phone:</ok> +34 619 663553</p>
                                    <p><ok>Mobile</ok> +34 603 093384</p>
                                </div>
                            </div>
                        </div><!-- /inner row -->
                        <hr>
                        <div class="cont2">
                            <h2>Choose Your Option</h2>
                        </div>
                        <br>
                        <div class="info-user2">
                            <span aria-hidden="true" class="li_user fs1"></span>
                            <span aria-hidden="true" class="li_settings fs1"></span>
                            <span aria-hidden="true" class="li_mail fs1"></span>
                            <span aria-hidden="true" class="li_key fs1"></span>
                            <span aria-hidden="true" class="li_lock fs1"></span>
                            <span aria-hidden="true" class="li_pen fs1"></span>
                        </div>


                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-lg-6">
                <div id="register-wraper">
                    <form id="register-form" class="form">
                        <legend>User Register</legend>

                        <div class="body">
                            <!-- first name -->
                            <label for="name">First name</label>
                            <input name="name" class="input-huge" type="text">
                            <!-- last name -->
                            <label for="surname">Last name</label>
                            <input name="surname" class="input-huge" type="text">
                            <!-- username -->
                            <label>Username</label>
                            <input class="input-huge" type="text">
                            <!-- email -->
                            <label>E-mail</label>
                            <input class="input-huge" type="text">
                            <!-- password -->
                            <label>Password</label>
                            <input class="input-huge" type="text">

                        </div>

                        <div class="footer">
                            <label class="checkbox inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> I agree with the terms &amp; conditions
                            </label>
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="footerwrap">
        <footer class="clearfix"></footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <p><img src="/Areas/Admin/img/logo.png" alt=""></p>
                    <p>Blocks Dashboard Theme - Crafted With Love - Copyright 2013</p>
                </div>

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /footerwrap -->
</body>
</html>