﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="container">
    <div class="row">


        <div class="slider">
            @{Html.RenderAction("sliderview", "Home"); }

        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h2>Multi Purpose Theme</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu<br>
                    vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam <br>
                    lorem sit amet scelerisque justo
                </p>
            </div>
            <hr>
        </div>
    </div>
</div>


<div class="container">


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h2>Galleries</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu<br>
                    vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam <br>
                </p>
            </div>
            <hr>
        </div>
    </div>
</div>