﻿@using ödevv.Areas.Admin.Controllers
@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    Layout = null;
}

<ul>
    @foreach (var item in Model)
    {

        <li>@item.Name-@item.Users.Count</li>
    }

</ul>

@Html.ActionLink("Yeni rol ekle","Rolekle","Rolyonetim");



