﻿@model ödevv.Areas.Admin.Models.RolEkleModel



@using (Html.BeginForm("RoleKullaniciEkle", "Rolyonetim", FormMethod.Post))
{
    @Html.LabelFor(m => m.KullaniciAdi) @Html.TextBoxFor(m => m.KullaniciAdi)
    <br />
        @Html.LabelFor(m => m.RolAdi) @Html.TextBoxFor(m => m.RolAdi)
        <br />
        <input type="submit" />

}