﻿@model ödevv.Areas.Admin.Models.RolEkleModel
@{
    Layout = null;
}

<h2>ROL EKLE</h2>

@using (Html.BeginForm("Rolekle","Rolyonetim",FormMethod.Post))
{
    @Html.TextBoxFor(m=>m.RolAd)
    <input type="submit"/>


}