﻿@model IEnumerable<slider> 
@{
    Layout = null;
}


<div class="img-responsive">
    <ul class="bxslider">

        @foreach (var item in Model)
        {


            <li>
                @if (item.imagepath == null)
                {

                }
                else {  <img src="@item.imagepath" width="1500" height="400" alt="slide1" /> }


              
                <p>@item.slidertext </p>
            </li>
        }
    </ul>
</div>