﻿@model ödevv.slider

@{
    Layout = null;
}

<h2>Delete</h2>

silmek istediğinize eminmisiniz?

<br/>

@Model.slidertext
<br/>
@Html.ActionLink("Kabul Ediyorum","DeleteConfirm",new{id=Model.ID})
<br/>
@Html.ActionLink("Kabul Etmiyorum","slider")


