﻿
@model List<slider>

@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <title>Slider Tablosu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/css/bootstrap.min.css" />

    <!-- DATA TABLE CSS -->
    <link href="/Areas/Admin/css/table.css" rel="stylesheet">

    <script type="text/javascript" src="/Areas/Admin/js/jquery.js"></script>
    <script type="text/javascript" src="/Areas/Admin/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/Areas/Admin/js/admin.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Fonts call. Font Used Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <!-- DataTables Initialization -->
    <script type="text/javascript" src="/Areas/Admin/js/datatables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#dt1').dataTable();
        });
    </script>


</head>

<div class="navbar-nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
       
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Ana Sayfa", "index", "AdminHome")</li>
                <li>@Html.ActionLink("Giriş", "login", "AdminHome")</li>
                <li>@Html.ActionLink("Tablolar", "tables", "AdminHome")</li>
                <li>@Html.ActionLink("Kullanıcı", "user", "AdminHome")</li>
              
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-lg-12">
        <h4><strong>Slider Tablosu</strong></h4>
        <table class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Basşlangıç tarihi</th>
                    <th>Bitiş tarihi</th>
                    <th>Text</th>
                    <th>Resim yolu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.ID</td>
                        <td>@item.baslangictarihi</td>
                        <td>@item.bitistarihi</td>
                        <td>@item.slidertext</td>
                        <td>@item.imagepath</td>
                       <td>@Html.ActionLink("Düzenle","Edit","Slider", new {id=item.ID }, null)|@Html.ActionLink("Sil","Delete","Slider", new { id = item.ID }, null) </td>
                    </tr>


                }




            </tbody>
        </table><!--/END First Table -->
        <br>
        <!--SECOND Table -->




    </div><!--/span12 -->
</div>
