﻿
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="portfolios">
                <div class="text-center">
                    <h2>Portfolio</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu<br>
                        vestibulum volutpat libero sollicitudin vitae Curabitur ac aliquam <br>
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a href="/Content/img/26.jpg" class="flipLightBox">
                    <img src="/Content/img/26.jpg" width="230" height="230" alt="Image 1" />
                    <span><b>LightBox Group 1, Image 1</b> Text to accompany first lightbox image</span>
                </a>

                <a href="/Content/img/27.jpg" class="flipLightBox">
                    <img src="/Content/img/27.jpg" width="230" height="230" alt="Image 2" />
                    <span><b>LightBox Group 1, Image 2</b><br />Text to accompany 2nd lightbox image</span>
                </a>

                <a href="/Content/img/28.jpg" class="flipLightBox">
                    <img src="/Content/img/28.jpg" width="230" height="230" alt="/Content/Image 3" />
                    <span><b>LightBox Group 1, Three</b> Text to accompany the third lightbox image</span>
                </a>

                <a href="/Content/img/29.jpg" class="flipLightBox">
                    <img src="/Content/img/29.jpg" width="230" height="230" alt="Image 4" />
                    <span><b>The Group 1 Final LightBox</b> Text to accompany the last of the lighboxes</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="/Content/img/30.jpg" class="flipLightBox">
                    <img src="/Content/img/30.jpg" width="250" height="250" alt="Image 1" />
                    <span><b>LightBox Group 1, Image 1</b> Text to accompany first lightbox image</span>
                </a>

                <a href="/Content/img/31.jpg" class="flipLightBox">
                    <img src="/Content/img/31.jpg" width="250" height="250" alt="Image 2" />
                    <span><b>LightBox Group 1, Image 2</b><br />Text to accompany 2nd lightbox image</span>
                </a>

                <a href="/Content/img/32.jpg" class="flipLightBox">
                    <img src="/Content/img/32.jpg" width="250" height="250" alt="Image 3" />
                    <span><b>LightBox Group 1, Three</b> Text to accompany the third lightbox image</span>
                </a>

                <a href="/Content/img/33.jpg" class="flipLightBox">
                    <img src="/Content/img/33.jpg" width="250" height="250" alt="Image 4" />
                    <span><b>The Group 1 Final LightBox</b> Text to accompany the last of the lighboxes</span>
                </a>
            </div>
        </div>
    </div>
</div>
