@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

 


#contact {
  margin-top: 100px; 
  background-size: cover;
}
#contact .section-title span {
  color: #fff;
}
#contact .contact-form .controls {
  padding-bottom: 20px;
}
#contact .contact-form .controls input.contact_input {

  background-color: transparent;
  float: left;
  border: 1px solid #0BAFA0;
  font-size: 14px;
  font-weight: 300;
  height: 48px;
  padding: 0 12px;
  width: 88%;
  
    /*text-decoration-color: white;*/
}
#contact .contact-form .controls i {
  font-size: 18px;
  color: #0BAFA0;
  width: 48px;
  height: 48px;
  background-color: transparent;
  padding: 12px;
  text-align: center;
  border: 1px solid #0BAFA0;
  
}
#contact .contact-form textarea {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #0BAFA0;
  width: 100%;
  padding: 2% 3%;
  height: 185px;
 

}


.fa:hover {

    cursor: pointer;

    
}



#contact .contact-form .btn {
  color: #008b8b;
  font-weight: 300;
  margin-top: 30px;
  font-size: 24px;
  width: 100%;
  margin: 20px 0;
  background: transparent;


}

