﻿@model ödevv.Areas.Admin.Models.slidermodel

@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <title>BLOCKS - Bootstrap Dashboard Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/Areas/Admin/css/bootstrap.min.css" />

    <link href="/Areas/Admin/css/main.css" rel="stylesheet">
    <link href="/Areas/Admin/css/font-style.css" rel="stylesheet">
    <link href="/Areas/Admin/css/register.css" rel="stylesheet">

    <script type="text/javascript" src="/Areas/Admin/js/jquery.js"></script>
    <script type="text/javascript" src="/Areas/Admin/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>

    <!-- NAVIGATION MENU -->

<div class="navbar-nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Ana Sayfa", "index", "AdminHome")</li>
                <li>@Html.ActionLink("Giriş", "login", "AdminHome")</li>
                <li>@Html.ActionLink("Tablolar", "tables", "AdminHome")</li>
                <li>@Html.ActionLink("Kullanıcı", "user", "AdminHome")</li>
             
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>





@using (Html.BeginForm("addslider","Slider",FormMethod.Post,new {@class="form-horizontal",enctype="multipart/form-data"}))
{

        <div class="col-sm-6 col-lg-6">
            <div id="register-wraper">
                <form id="register-form" class="form">
                    <legend>Slider Ekleme</legend>

                    <div class="body">
                        <!-- slider text-->

                        @Html.LabelFor(x=>x.slidertext)
                        @Html.TextBoxFor(x=>x.slidertext,new {@class= "input-huge", placeholder="slider yazısı" }  )
                        
                        <!-- baslangıc tarihi-->
                        @Html.LabelFor(x => x.baslangictarihi)
                        @Html.TextBoxFor(x => x.baslangictarihi, new { @class = "input-huge", placeholder = "Başlangıç Tarihi" })
                        @*bitiş tarihi *@

                        @Html.LabelFor(x => x.bitistarihi)
                        @Html.TextBoxFor(x => x.bitistarihi, new { @class = "input-huge", placeholder = "Bitiş Tarihi" })


                        @Html.LabelFor(x => x.sliderfoto)
                        @Html.TextBoxFor(x => x.sliderfoto, new { @class = "input-huge", placeholder = "Resim Yolu" ,type="file" })


                    </div>

                    <div class="footer">
                       
                        <button type="submit" class="btn btn-success">Ekle</button>
                    </div>
                </form>
            </div>
        </div>

   



}
