﻿
@{
    ViewBag.Title = "Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="sign-in-area">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-big wow fadeIn"><i class="fa fa-sign-in"></i></h1>
                <h2 class="subtitle-big">Sign-in to access your account</h2>
            </div>


            <div class="col-md-12 text-center">

                <form role="form" class="sign-in-form">
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 wow fadeInDown">
                        <input type="email" class="form-control" id="signinemail" placeholder="Enter email">
                    </div>
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 wow fadeInDown" data-wow-delay=".7s">
                        <input type="password" class="form-control" id="signinpassword" placeholder="Password">
                        <h3>@Html.ActionLink("sign in", "Index", "Home")</h3>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>


<section id="sign-up-area">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-big wow fadeIn">Join Us Today!</h1>
                <h2 class="subtitle-big  girisyazi ">Enjoy our Awesomeness</h2>
            </div>


            <div class="col-md-12 text-center">

                <form role="form" class="sign-up-form">
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 wow fadeInDown">
                        <input type="email" class="form-control" id="signupemail" placeholder="Enter email">
                    </div>
                    <div class="form-group col-md-offset-4 col-md-4 col-md-offset-4 wow fadeInDown" data-wow-delay=".7s">
                        <input type="password" class="form-control" id="signuppassword" placeholder="Password">
                        <h3>@Html.ActionLink("sign up", "Index", "Home")</h3>

                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>



